<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - PDC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/vue.min.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body style="background: #bdcfeb">
    <div class="container m-5 p-5 rounded border border-2" style="background: #fff">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
