{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}Welcome{% endblock %}

{% block content %}
<h1 class="text-primary">PDC Common Data Platform&nbsp;&mdash;&nbsp;Proof-of-Concept</h1>

<p>This proof-of-concept shows severals screens demonstrating how
properly access-controlled shared data can help grantseekers and
grantmakers do a better job of finding each other, and can save
grantseekers time when applying for funding.</p>

<p><em>(Note: all the data here is fictitious sample data created for
this demo site.  No actual organization data is used.)</em></p>

<ol>

<li><p><a href="/poc-demo/gms-apply">GMS application screen</a>&nbsp;(simulation)</p>

    <p><a href="/poc-demo/gms-apply"
       ><img src="/static/images/gms-apply-screen-233x159.png"
             alt="Small impression of GMS Apply screen."
             style="border: 1px solid #555;"
       /></a></p>

    <p>An application screen in a prospective PDC-enabled Grant
       Management System (GMS).</p>

    <p>When the applicant starts typing their organization's name or
       EIN, the field offers autofills based on existing data.  Once
       the organization is identified, <em>all the rest of the
       fields</em> fill in automatically, sparing the applicant the
       need to re-enter data that they have probably entered too many
       times already.</p>

    <p>If the applicant changes the information in one of the
       fields&nbsp;&mdash;&nbsp;say, there is a new
       CEO&nbsp;&mdash;&nbsp;the GMS saves the new information and
       sends it back to the PDC Common Data Platform.  There, the
       organization's record is (potentially) updated, in accordance
       with data governance and update rules.</p>

    <p>The applicant takes no extra steps to make any of this happen.
       The GMS just uses data the applicant has entered before,
       perhaps elsewhere.  And by accepting updates and sending them
       back to the CDP, the GMS contributes to future time-saving for
       the applicant.</p>

</li>

<li><p><a href="/poc-demo/search">Search screen: find organizations by activity</a></p>

    <p><a href="/poc-demo/search"
       ><img src="/static/images/search-screen-233x159.png"
             alt="Small impression of search screen."
             style="border: 1px solid #555;"
       /></a></p>

    <p>Shows how a funder can search to find new organizations, based
       on those organizations' activities, missions, etc,
       etc.</p>

    <p>The search includes both organizations themselves and their
       associated proposals.  For example, it matches organization
       names and mission statements, and also matches proposal names
       and descriptions.</p>

</li>

<li><p><a href="/poc-demo/apidoc">Automated access&nbsp;&mdash;&nbsp;API documentation</a></p>

    <p><a href="/poc-demo/apidoc"
       ><img src="/static/images/apidoc-screen-233x159.png"
             alt="Small impression of API documentation screen."
             style="border: 1px solid #555;"
       /></a></p>

    <p>Other systems can access the Common Data Platform
       programatically, with proper authorization.  The API
       ("Application Programming Interface") documentation shows
       how.</p>

</li>

{% endblock %}
